body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -3 !important;
}

.test{
    z-index: -1 !important;
    position: absolute;
    width: 350px;
    height: 100%;
    overflow-y: auto;
    top: 0;
    /* bottom: 20px; */
}

.toogle-button{
    margin: 20px 0 0 20px;
    z-index: 1001 !important;
}